<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cities</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"
          href="../../css/bootstrap.min.css" />
    <link rel="stylesheet" th:href="@{/css/mi.css}"
          href="../../css/mi.css" />
</head>
<body>
<div class="container">
    <div class="card">
        <div class="card-header">
            <nav class="navbar navbar-expand-lg navbar-dark">
                <h3>Available Cities</h3>
                <a th:href="@{index}">Consult the weather</a>
            </nav>
        </div>
        <div class="card-body">
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="city:${cities}">
                    <td th:text="${city.getId()}"></td>
                    <td th:utext="${city.getName()}"></td>
                    <td><a th:href="@{'/cities/'+delete+'/'+${city.getId()}}">Delete</a></td>
                    <!--<td><a th:href="@{delete+'/'+${city.getId()}}">Delete</a></td>-->
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="5">
                        <a th:href="@{'/cities/'+create}">Insert a new city</a>
                        <!--<a th:href="@{create}">Insert a new city</a>-->
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
        <div class="card-footer">
            <footer class="footer card-footer">
                <p class="col-8 offset-2">All rights reserved to Zeyla 2019<br>
                    Using Spring Boot, Thymeleaf and Mongodb</p>
            </footer>
        </div>
    </div>
</div>
</body>
</html>
